@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 100 900;
	src: url(/fonts/rubik/rubik.ttf) format('truetype');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 100 900;
	src: url(/fonts/rubik/rubik-italic.ttf) format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: #0d6efd;

		/* primary colors generated  at https://coolors.co/0d6efd  */

		--color-primary-shade-1: #0263f4;
		--color-primary-shade-2: #025be1;
		--color-primary-shade-3: #0254ce;
		--color-primary-shade-4: #024cbc;
		--color-primary-shade-5: #0245a9;
		--color-primary-shade-6: #023d96;

		--color-primary-tint-1: #1e77fd;
		--color-primary-tint-2: #2f82fd;
		--color-primary-tint-3: #418cfd;
		--color-primary-tint-4: #5296fd;
		--color-primary-tint-5: #63a1fd;
		--color-primary-tint-6: #75abfe;

		--color-secondary: #0dfc6d;
		--color-success: #45bd62;
		--color-info: #216fdb;
		--color-warning: #f7b928;
		--color-danger: #e41e3f;
		--color-light: #ffffff;
		--color-dark: #050505;

		--screen-height: 100vh;
	}
}

@layer components {
	.loading-spinner {
		transform-origin: center;
		animation: spinner_StKS 0.75s infinite linear;
	}
	@keyframes spinner_StKS {
		100% {
			transform: rotate(360deg);
		}
	}

	.loading-spinner__path {
		fill: white;
	}

	.btn {
		/* @apply flex items-center justify-center rounded-full font-medium text-white shadow-sm relative;
		@apply bg-primary hover:opacity-90;
		@apply transition-colors; */

		@apply inline-flex justify-center items-center font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;
		@apply border border-transparent;
		/* @apply text-white bg-red-600  hover:bg-red-700 focus:ring-red-700; */
		/* @apply px-4 py-2 text-sm; */

		transition-duration: 250ms;
	}
	.btn--loading {
		/*  */
	}
	.btn--disabled {
		@apply opacity-75 cursor-not-allowed;
		/* @apply grayscale cursor-not-allowed; */
	}

	.btn--primary,
	.btn--info {
		@apply bg-blue-600 hover:bg-blue-700 text-white focus:ring-blue-700;
	}
	.btn--primary.btn--outline,
	.btn--info.btn--outline {
		@apply bg-transparent hover:bg-blue-50 text-blue-600 border-blue-600;
	}

	.btn--secondary,
	.btn--success {
		@apply bg-green-500 hover:bg-green-600 text-white focus:ring-green-600;
	}
	.btn--secondary.btn--outline,
	.btn--success.btn--outline {
		@apply bg-transparent hover:bg-green-50 text-green-500 border-green-500;
	}

	.btn--warning {
		@apply bg-amber-400 hover:bg-amber-500 text-white focus:ring-amber-500;
	}
	.btn--warning.btn--outline {
		@apply bg-transparent hover:bg-amber-50 text-amber-500 border-amber-500;
	}

	.btn--danger {
		@apply bg-red-600 hover:bg-red-700 text-white focus:ring-red-700;
	}
	.btn--danger.btn--outline {
		@apply bg-transparent hover:bg-red-50 text-red-600 border-red-600;
	}

	.btn--neutral {
		@apply bg-gray-200 hover:bg-gray-300 text-gray-700 focus:ring-gray-300;
	}
	.btn--neutral.btn--outline {
		@apply bg-transparent hover:bg-gray-50 text-gray-600 border-gray-600;
	}

	.btn--xs {
		@apply px-2 py-1 text-xs;
	}
	.btn--sm {
		@apply px-3 py-1.5 text-xs;
	}
	.btn--md {
		@apply px-4 py-2 text-sm;
	}
	.btn--lg {
		@apply px-5 py-2.5 text-sm;
	}
	.btn--xl {
		@apply px-6 py-3 text-sm;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		transition: all 0s ease-in-out 9999s;
	}

	input::placeholder,
	textarea::placeholder {
		opacity: 0.4;
	}

	.text-input {
		/* label above input */
		/* @apply block w-full rounded-md shadow-sm border-gray-300 focus:ring-primary py-3 border-none outline-none; */

		/* label nested in input */
		@apply text-sm block w-full bg-transparent border-none p-0 text-gray-800 focus:ring-0;
		@apply md:text-lg;
	}
	.text-input-label {
		/* label above input */
		/* @apply block text-sm font-medium text-gray-500 text-left; */

		/* label nested in input */
		@apply block text-xs font-bold text-gray-500 text-left;
	}
	.text-input-container {
		/* label above input */
		/* @apply */

		/* label nested in input */
		@apply flex-1 rounded-xl px-2 pt-2 pb-1 shadow-sm bg-gray-100;
		@apply border-2 border-transparent focus-within:border-primary;

		@apply sm:pt-3 sm:pb-2 sm:px-4;
	}
	.text-input-container--disabled {
		opacity: 0.5;
	}
	.text-input-container--disabled,
	.text-input-container--disabled * {
		@apply bg-gray-200 cursor-not-allowed;
	}
}

@layer utilities {
	/*  */
}

html,
body,
div#__nuxt {
	@apply h-full bg-gray-100;
}

/* DATE PICKER OVERRIDES */
.dp__input {
	@apply focus:ring-0 border-0 pl-0 bg-transparent !important;
}
/* END DATE PICKER OVERRIDES */
